apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin-deployment
spec:
  replicas: 1
  template:
    spec:
      nodeName: knode3
      nodeSelector:
        feature.node.kubernetes.io/pci-0300_10de.present: "true"
